<h1>Account</h1>

<h3>Active rentals</h3>

<% if not @user.rentals.active.empty? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Book name</th>
      <th>Rented</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.rentals.active.each do |rental| %>
      <tr>
        <td><%= rental.book.sku %></td>
        <td><%= link_to rental.book.name, rental.book %></td>
        <td><%= rental.created_at %></td>
        <td><%= link_to 'Return', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <table class="table table-striped">
      <td>
        <p class="lead text-center">No Active Rentals yet</p>
      </td>
    </table>
<% end %>


<h3>Past rentals</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>SKU</th>
    <th>Book name</th>
    <th>Rented</th>
    <th>Returned</th>
  </tr>
  </thead>

  <tbody>
  <% @user.rentals.returned.each do |rental| %>
    <tr>
      <td><%= rental.book.sku %></td>
      <td><%= link_to rental.book.name, rental.book %></td>
      <td><%= rental.created_at %></td>
      <td><%= rental.returned_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
