<h1>Dashboard</h1>

<h3>Active rentals</h3>

<% if not @user.rentals.active.empty? %>

  <% @user.rentals.active.each_slice(4) do |rentals| %>
    <div class="row">
      <% rentals.each do |rental| %>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <%# the img actually needs to have a class "media-object" as shown in http://getbootstrap.com/components/#media %>
                    <%= image_tag rental.book.cover.normal %>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= link_to rental.book.name, rental.book %></h4>
                  by <%= rental.book.author %>
                  <br />
                  Rented for: <%= rental.rental_time %>
                </div>
                <br />
                <%= link_to 'Return', rental, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <table class="table table-striped">
    <td>
      <p class="lead text-center">No Active Rentals</p>
    </td>
  </table>
<% end %>


<h3>Past rentals</h3>
<% if not @user.rentals.returned.empty? %>

  <% @user.rentals.returned.each_slice(4) do |rentals| %>
    <div class="row">
      <% rentals.each do |rental| %>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <%# the img actually needs to have a class "media-object" as shown in http://getbootstrap.com/components/#media %>
                    <%= image_tag rental.book.cover.normal %>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= link_to rental.book.name, rental.book %></h4>
                  by <%= rental.book.author %>
                  <br />
                  Rented for: <%= rental.rental_time %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <table class="table table-striped">
    <td>
      <p class="lead text-center">No Past Rentals</p>
    </td>
  </table>
<% end %>
