
<%= bootstrap_form_tag url: rentals_path do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, 'error') %> prohibited this rental from being saved:</h2>

      <ul>
        <% @rental.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-5 col-centered">
      <h1>New Rental</h1>
      <%= f.text_field :sku %>
      <fieldset class="actions">
        <%= f.submit 'Rent this book', :class => 'btn btn-primary btn-block' %>
      </fieldset>
    </div>
  </div>
<% end %>

