<div class="col-sm-4" id="book-<%= book.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <%= link_to image_tag(book.cover.big, class: 'media-object'), book %>
        </div>
        <div class="media-body">
          <div class="">
            <div class="book-item book-name"><h4 class="media-heading"><%= link_to book.name, book %></h4></div>
            <div class="book-item book-author"><h6><%= t('book.by') %> <%= book.author %></h6></div>
            <div class="book-item"><p><%= t('book.sku') %>: <%= book.sku %></p></div>
            <% if book.rented? %>
              <div class="book-item"><p><span class="<%= get_bootstrap_class_for_state book.state %>"><%= book.state %></span></p></div>
            <% end %>
            <div class="book-item book-renting-actions">
              <%= link_to(t('book.rent'), rentals_path(sku: book.sku, format: :js), method: :post, remote: true, class: 'btn btn-success') if can? :create, Rental and book.active? %>
              <% if book.rented? %>
                <% rental = book.rentals.active.first %>
                <% if can?(:create, WatchList) and cannot?(:destroy, rental) and not current_user.has_watch_list_for_rental(rental) %>
                  <%= link_to rental_watch_lists_path(rental, format: :js), method: :post, remote: true, class: 'btn btn-warning' do %>
                    <i class="fa fa-clock-o"></i>
                  <% end %>
                <% end %>
                <% if can? :destroy, rental %>
                  <%= link_to t('book.return'), '#', class: 'btn btn-info', data: { toggle: :modal, target: '#delete-modal', title: book.name, author: book.author, form_action: rental_path(rental) } %>
                <% end %>
              <% end %>
              <%= link_to(t('application.edit'), edit_book_path(book), class: 'btn btn-primary') if can? :edit, book %>
              <%= link_to('X', book_path(book), method: :delete, class: 'btn btn-danger', data: { confirm: t('book.confirm.destroy') }) if can? :destroy, book %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
