<% active ||= false %>
<% if not rentals.empty? %>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('application.user') %></th>
      <th><%= t('rental.rented_on') %></th>
      <th><%= t('rental.rented_for') %></th>
      <% unless active %>
        <th><%= t('rental.return_message') %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% rentals.each do |rental| %>
      <tr>
        <td><%= rental.user.full_name %></td>
        <td><%= rental.created_at %></td>
        <td><%= rental.rental_time %></td>
        <% unless active %>
          <td><%= rental.return_message %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <table class="table table-striped">
    <td>
      <p class="lead text-center">
        <% unless defined?(empty_result_message) %>
          <% empty_result_message = active ? t('rental.empty_active_book_result') : t('rental.empty_book_result') %>
        <% end %>
        <%= empty_result_message %>
      </p>
    </td>
  </table>
<% end %>