<% alphabetic_filter ||= [] %>
<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <%= render partial: 'letter_filter_item', collection: alphabetic_filter %>
    </tr>
    </thead>
  </table>
</div>
<div class="row">
  <div class="col-sm-7"><h1><%= t('book.title') %></h1></div>
  <div class="col-sm-5">
    <%# The path in here can differ (we can have search by the alphabet - different route) #%>
    <%= search_form_for @search, url: request.env['PATH_INFO'] do |s| %>
      <div class="form-group header-margin">
        <div class="col-sm-8">
          <%= s.text_field :sku_or_name_cont, placeholder: t('book.search.placeholder'), class: 'form-control' %>
        </div>
        <div class="col-sm-2">
          <%= s.submit t('application.search'), class: 'btn btn-primary' %>
        </div>
        <div class="col-sm-2">
          <%= link_to t('application.clear'), books_path, class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if @books.empty? %>
  <table class="table table-striped">
    <tr>
      <td><p class="lead text-center"><%= t('book.message.empty_result') %></p></td>
    </tr>
  </table>
<% else %>
  <% @books.each_slice(3) do |books| %>
    <div class="row">
      <% books.each do |book| %>
        <%= render partial: 'book', locals: { book: book } %>
      <% end %>
    </div>
  <% end %>
  </tbody>
<% end %>

<% if can? :create, Book %>
  <%= link_to t('book.add'), new_book_path, :class => 'btn btn-success' %>
<% end %>
<%= render partial: 'books/return_modal', locals: { remote: true } %>