<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li class="active"><%= link_to 'Back', books_path %></li>
</ol>

<div class="col-sm-12" id="book-<%= @book.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <%= link_to image_tag(@book.cover.big, class: 'media-object'), @book %>
        </div>
        <div class="media-body">
          <div class="">
            <div class="book-item"><h4 class="media-heading"><%= link_to @book.name, @book %></h4></div>
            <div class="book-item"><h6>by <%= @book.author %></h6></div>
            <div class="book-item">ISBN: <%= @book.isbn %></div>
            <div class="book-item">SKU: <%= @book.sku %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Active Rental</h3>
<%= render partial: 'rental_table', locals: { active: true, rentals: @book.rentals.active } %>

<h3>Past rentals</h3>
<%= render partial: 'rental_table', locals: { rentals: @book.rentals.returned } %>