<!DOCTYPE html>
<html>
<head>
  <title>Rocket Library</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>

<body>
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand pjax" href="/">
          Rocket Library
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right root_links">
          <% if user_signed_in? %>

            <% if can? :create, Rental %>
              <li>
                <%= link_to 'New Rental', new_rental_path %>
              </li>
            <% end %>

            <% if can? :read, Book %>
              <li>
                <%= link_to 'Books', books_path %>
              </li>
            <% end %>

            <% if can? :access, :rails_admin %>
              <li>
                <%= link_to 'Admin', rails_admin_path %>
              </li>
            <% end %>

            <li class="edit_user_root_link">
              <%= header_user_link %>
            </li>
            <li>
              <%= link_to(destroy_user_session_path, method: :delete) do %>
                <span class="label label-danger">Log out</span>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <% flash.each do |name, msg| %>
      <% if msg.is_a? String %>
          <div class="fade in <%= get_flash_message_class name %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "name" %>
          </div>
      <% end %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
